{
  http_port 8000
}

localhost:5555 {
  reverse_proxy /api/* 127.0.0.1:5000
}

localhost:3000 {
  reverse_proxy 127.0.0.1:8080
}

# Will this mean I can remove http proxy in snowpack config?
# localhost:3000 {
#   reverse_proxy /api/* 127.0.0.1:5555
#   reverse_proxy 127.0.0.1:8080
# }




